body {
	margin: 0;
	background: linear-gradient(-45deg, #9e0059, #ff0054, #ff5400, #ffbd00);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	font-family: 'Poppins', sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
  text-align: center;
  position: fixed;
  top: 0;
  padding-top: 10px;
}

.topnav {
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  overflow: hidden
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

.topnav a {
  float: center;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 1.25vw;
  letter-spacing: 0.25em;
  }

h1 {
	color: #241713;
	line-height: 100;
	padding-bottom: 10px;
	top: 5px;
}

 p {
 font-family: 'Poppins', sans-serif;
 font-size: 20px;
 color: white;
 z-index: 2;

}

hr.rounded {
  border-top: 3px solid white;
  border-radius: 100px;
  width: 10%;
  }

 .description{
 	text-align: center;
 	height: 100px;
 	padding-top: 20px;
 	padding-bottom: 20px;
 	height: 410px;
 	position: relative;
 	background-image: url(IMG_0705.png);
 	background-size: cover, contain;
 	background-position: center;
 	opacity: 0.5;
  max-width: 100%;

 }

  .description2{
 	text-align: center;
 	height: 100px;
 	padding-top: 20px;
 	padding-bottom: 20px;
 	height: 410px;
 	position: relative;
 	background-image: url(scooter.jpg);
 	background-size: cover, contain; 
  background-position: left;
  max-width: 100%;
 	opacity: 0.5;
 }

.welcome{
  text-align: center;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: white;
    margin: 270px 200px;
    
}

.welcome h2{
  letter-spacing: 0.9em;
  padding-top: 0px;
  color: white;
  z-index: 1;
  position: relative;
  line-height: 1.5;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 3.5vw;
}


